*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 1500px;
    margin: 0 auto;
}
header{
    background-color: rgb(173, 34, 56) ;
}
.img-logo{
    width: 10%;
}
.top-bar{
    height: 60px;
    display: flex;
    justify-content: center;
}
.sezione-compilazione{
    background-image: url(../img/1280px-Rome_Termini_NTV_Italo_46607479884.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
